#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  max-width: 3em;
  min-width: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 1.8em;
  will-change: filter;
  transition: filter 300ms;
  flex-shrink: 1;
}
.blue-hover:hover {
  filter: drop-shadow(0 0 1em #2a42dfaa);
}
.black-hover:hover {
  filter: drop-shadow(0 0 1em #151515);
}
.brown-hover:hover {
  filter: drop-shadow(0 0 1em #472b06);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(0) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navbar {
  justify-content: space-evenly;
  /* display: flex;
  flex-direction: row; */
  max-width: 100%;
}

.bio {
  padding-left: 50px;
  /* max-width: 100%; */
}

.riverHack {
  font-family: "RiverHack"
}

.body-text {
  font-family: "PoiretOne"
}

.game {
  justify-content: center;
}

.innerButton {
  border: 2px solid grey;
  aspect-ratio: 4/1;
  max-width: 640px;
  width: 90%;
  border-radius: 0;
  position: relative;
}

.bug {
  position: absolute;
  bottom: -25px;
  left: -35px;
  width: 10%;
  display: none;
}

button:hover .bug {
  display: block;
}



