:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4a4a4a;
  text-decoration: inherit;
  /* padding: 0.6em 1.2em; */
}
a:hover {
  color: #2a42dfaa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 240px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  color: #5f5f5f;
  text-align: left;
}

p {
  font-size: 1.6em;
  color: #555555;
  text-align: left;
}

button {
  all: unset;
  -webkit-background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: transparent;
  color: black;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input { 
  all: unset;
  -webkit-appearance:none; 
  -moz-appearance: none;
  appearance: none;
}

@font-face{
  font-family: "RiverHack";
  src:local("RIVERHACK"),
  url('./assets/fonts/RIVERHACK.ttf') 
}

@font-face{
  font-family: "PoiretOne";
  src:local("PoiretOne-Regular"),
  url('./assets/fonts/PoiretOne-Regular.ttf') 
}
